@page "{RestaurantId?}"
@model HWRestaurant.WEB.Pages.MyRestaurants.EditModel
@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <input type="hidden" asp-for="restaurant.Id" />
    <div class="form-group">
        <label asp-for="restaurant.Name"></label>
        <input asp-for="restaurant.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="restaurant.Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="restaurant.Location"></label>
        <input asp-for="restaurant.Location" class="form-control" />
        <span class="text-danger" asp-validation-for="restaurant.Location"></span>
    </div>

    <div class="form-group">
        <label asp-for="restaurant.cuisineType"></label>
        <select class="form-control" asp-for="restaurant.cuisineType" asp-items="Model.Cuisines"></select>
        <span class="text-danger" asp-validation-for="restaurant.cuisineType"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

</form>

<!--Adds Validation-->
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}